<ion-content class="ion-padding">
  <!-- <ion-item>
    <ion-input
      name="pass"
      [(ngModel)]="password"
      #pass="ngModel"
      type="password"
      required
      minlength="6"
      placeholder="Enter Password"
    >
    </ion-input>
  </ion-item>
  <div *ngIf="pass.invalid && (pass.dirty || pass.touched)">
    <ion-text color="danger" *ngIf="pass.errors.required"
      >This field is required.</ion-text
    >
    <ion-text color="danger" *ngIf="pass.errors.minlength"
      >Password must contain 6 digits.</ion-text
    >
  </div>

  <ion-item>
    <ion-input
      name="reTypePass"
      [(ngModel)]="reTypePass"
      type="password"
      required
      placeholder="Re-enter Password"
    >
    </ion-input>
  </ion-item>
  <div *ngIf="passwordMatch == false">
    <ion-text color="danger">Password dosen't match.</ion-text>
  </div>

  <ion-item lines="none">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button
            expand="block"
            fill="outline"
            color="primary"
            size="default"
            (click)="onChangePassClick()"
          >
            Change Password
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-input
      type="number"
      [(ngModel)]="userEnteredOTP"
      placeholder="Enter OTP"
      maxlength="4"
    ></ion-input>
    <ion-button
      (click)="onVerifyOTP()"
      expand="block"
      fill="clear"
      color="primary"
      slot="end"
      [disabled]="userEnteredOTP.length < 4"
    >
      Verify OTP
    </ion-button>
  </ion-item>
  <ion-label *ngIf="OTPMatched == false">
    <ion-text color="danger"> OTP dosen't match </ion-text>
  </ion-label> -->

  <div class="login">
    <div heading-column-lr>
      <h1 big-heading>Forgot Password ?</h1>
    </div>

    <form name="loginForm" #loginForm="ngForm">
      <ion-item transparent>
        <ion-icon icon-small name="lock-closed" color="primary"></ion-icon>
        <ion-input
          name="pass"
          [(ngModel)]="password"
          #pass="ngModel"
          [type]="passInputType"
          required
          minlength="6"
          placeholder="Enter Password"
        ></ion-input>
        <ion-icon
          [name]="passIconName"
          slot="end"
          (click)="changePassInputType()"
        ></ion-icon>
      </ion-item>
      <div *ngIf="pass.invalid && (pass.dirty || pass.touched)">
        <ion-text color="danger" *ngIf="pass.errors.required"
          >This field is required.</ion-text
        >
        <ion-text color="danger" *ngIf="pass.errors.minlength"
          >Password must contain 6 digits.</ion-text
        >
      </div>

      <ion-item transparent>
        <ion-icon icon-small name="lock-closed" color="primary"></ion-icon>
        <ion-input
          name="password"
          [(ngModel)]="reTypePass"
          [type]="reTypePassInputType"
          required
          placeholder="Re-enter Password"
        ></ion-input>
        <ion-icon
          [name]="reTypePassIconName"
          slot="end"
          (click)="changeReTypePassInputType()"
        ></ion-icon>
      </ion-item>
      <div *ngIf="passwordMatch == false">
        <ion-text color="danger">Password dosen't match.</ion-text>
      </div>

      <div style="height: 30px"></div>

      <ion-button
        color="primary"
        class="ion-button-class"
        size="large"
        expand="block"
        fill="solid"
        shape="round"
        [disabled]="loginForm.invalid"
        (click)="onChangePassClick()"
      >
        Change Password
      </ion-button>

      <ion-item transparent>
        <ion-icon icon-small name="lock-closed" color="primary"></ion-icon>
        <ion-input
          name="otp"
          [(ngModel)]="userEnteredOTP"
          type="number"
          maxlength="4"
          laceholder="Enter OTP"
        ></ion-input>
        <ion-button
          (click)="onVerifyOTP()"
          expand="block"
          fill="clear"
          color="primary"
          slot="end"
          [disabled]="userEnteredOTP.length < 4"
        >
          Verify OTP
        </ion-button>
      </ion-item>
      <ion-label *ngIf="OTPMatched == false">
        <ion-text color="danger"> OTP dosen't match </ion-text>
      </ion-label>
    </form>
  </div>
</ion-content>
