<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About-us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    style="
      margin: auto;
      font-size: 4vw;
      margin-top: 5%;
      line-height: 1.5em;
      text-align: justify;
    "
  >
    <ion-item class="ion-no-padding" lines="none" color="primary">
      <ion-label class="ion-text-center">ABOUT AND AROUND US</ion-label>
    </ion-item>
    <ion-item class="ion-no-padding ion-margin-bottom ion-margin-start">
      <ion-label class="ion-text-wrap ion-text-justify">
        Scholars Katta is an online/offline portal which allows students to prepare for
        various competitive exams like MHCET, NEET, JEE Advance, JEE Mains,
        Banking etc. This app will be a brilliant practice ground with various
        model exams where you can keenly evaluate yourself. With the vision to
        reach the rural areas with the help of the latest technologies Scholars
        Katta is scientifically build after an extensive study and survey of
        more than 5 years.
      </ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label><b>WHY SCHOLARS KATTA?</b></ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap">Custom syllabus</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap">Adaptive practice questions</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >24*7 experts to clear doubts</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap">Variety of test series</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap">Detailed test analysis</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Secure online/offline assessments anywhere anytimes</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap">Notifications for all exams</ion-label>
      </ion-item>
    </ion-list>

    <ion-list-header>
      <ion-label><b>ADVANTAGAES OF PARTNERING WITH US:</b></ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Easily master any topic with better understandings</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Get your doubts cleared anytime anywhere!</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap">Easy revision</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Comparative standings against toppers and thousands of
          others</ion-label
        >
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap"
          >Helps you chalk out a detailed study planner</ion-label
        >
      </ion-item>
    </ion-list>

    <ion-item class="ion-no-padding" lines="none" color="secondary">
      <ion-label class="ion-text-center">JEE MAIN</ion-label>
    </ion-item>

    <ion-item class="ion-no-padding ion-margin-bottom ion-margin-start">
      <ion-label class="ion-text-wrap ion-text-justify">
        Strengthen your JEE exam preps with our app where we offer a motley of
        more than 4 lakh questions, mock tests, notes and much more. We have the
        latest syllabus which will prove to be extremely useful for the upcoming
        examination. We focus on boosting your confidence with our study
        material and try make things easy for our users.
      </ion-label>
    </ion-item>

    <ion-item class="ion-no-padding" lines="none" color="warning">
      <ion-label class="ion-text-center">NEET</ion-label>
    </ion-item>

    <ion-item class="ion-no-padding ion-margin-bottom ion-margin-start">
      <ion-label class="ion-text-wrap ion-text-justify">
        Only after an extensive survey we could offer you with such a huge
        question bank. We got all, sample papers, previous examinations question
        papers, tips, mock tests, chapter wise questions and so much more to
        make your NEET preparations stress free. So why worry when we are there
        to take care of you just download our app and keep going.
      </ion-label>
    </ion-item>

    <ion-item class="ion-no-padding" lines="none" color="danger">
      <ion-label class="ion-text-center">MHCET</ion-label>
    </ion-item>

    <ion-item class="ion-no-padding ion-margin-bottom ion-margin-start">
      <ion-label class="ion-text-wrap ion-text-justify">
        Students will find this app very useful as we have made things so easy
        in here. Revise for your upcoming MHCET exam with practice tests and
        previous year solved papers. The app consists entire study material for
        all the subjects Mathematics, Physics, Chemistry and Biology. You can easily
        master MHCET with our help.
      </ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label><b>PLATFORM DEPTH:</b></ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap">10 lakh students</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap">4 lakh questions</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap">More than 10,000 concepts</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-start">
        <ion-icon name="checkmark" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap">20 plus mock tests</ion-label>
      </ion-item>
    </ion-list>

    <ion-item class="ion-no-padding ion-margin-start" lines="none">
      <ion-label class="ion-text-wrap ion-text-justify">
        Our students have shown average increase of 40% in speed and 25% in
        accuracy over a calendar year. This translates to better future
        performance.
      </ion-label>
    </ion-item>
    <ion-item class="ion-no-padding ion-margin-start" lines="none">
      <ion-label class="ion-text-wrap ion-text-justify">
        Our main aim is to reach students all over Maharashtra, right from
        cities to the rural areas. We look forward to help those students who
        are deprived from these technologies. And so to connect with them
        anywhere anytime, Scholars Katta is designed mobile friendly. Choosing
        us would be a very wise decision, as together we would CRACK it up.
      </ion-label>
    </ion-item>
    <ion-item
      class="ion-no-padding ion-no-margin ion-margin-start"
      lines="none"
    >
      <ion-label class="ion-text-wrap ion-text-justify">
        Come join us and let us realize our dream in your success, download us
        now!
      </ion-label>
    </ion-item>
    <ion-item class="ion-no-padding ion-margin-start" lines="none">
      <ion-label class="ion-text-wrap ion-text-center">
        <b>Visit us: </b>
        <ion-text color="success">
          https://www.scholarskatta.com
        </ion-text>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
