.options {
    padding: 0px;
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    background-color: var(--ion-color-primary);
}

.options ion-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: white;
}

/*
Explicitly define a Segoe UI font-family so that we can assign Segoe UI 
Semilight to an appropriate font-weight.
*/
// @font-face {
//     font-family: "Segoe UI";
//     font-weight: 200;
//     src: local("Segoe UI Light");
// }
// @font-face {
//     font-family: "Segoe UI";
//     font-weight: 300;
//     src: local("Segoe UI Semilight");
// }
// @font-face {
//     font-family: "Segoe UI";
//     font-weight: 400;
//     src: local("Segoe UI");
// }
// @font-face {
//     font-family: "Segoe UI";
//     font-weight: 600;
//     src: local("Segoe UI Semibold");
// }
// @font-face {
//     font-family: "Segoe UI";
//     font-weight: 700;
//     src: local("Segoe UI Bold");
// }
// @font-face {
//     font-family: "Segoe UI";
//     font-style: italic;
//     font-weight: 400;
//     src: local("Segoe UI Italic");
// }
// @font-face {
//     font-family: "Segoe UI";
//     font-style: italic;
//     font-weight: 700;
//     src: local("Segoe UI Bold Italic");
// }

/* Media query for micromax p290 vertical */
@media screen and (orientation:portrait) {
    h1 {
        font-size: 4vw;
        /* font-weight: bold; */
        text-align: center;
        background-color: var(--ion-color-success);
        color: white;
        text-transform: uppercase;
        padding: 15px;
        margin: 0px;
        margin-bottom: 15px;
    }

    #div-main {
        width: auto;
        height: auto;
        // border:1px solid gray;
        padding: 5px;
        text-align: center;
        overflow-y: hidden;
        overflow: hidden;
    }

    div p {
        font-size: 4vw;
        width: auto;
        margin: 0;
    }

    h3 {
        color: white;
        background-color: var(--ion-color-primary);
        font-size: 4vw;
        padding: 12px;
        text-transform: uppercase;
        text-decoration: none;
    }

    li {
        font-size: 4vw;
        list-style-type: square;
    }

    ul li::before {
        color: var(--ion-color-secondary);
    }

    ul {
        text-align: left;
    }

    #backheader {
        background-color: black;
        height: 50px;
    }

    #nm {
        padding: 10px;
        font-size: 25px;
        line-height: 0.8em;
        text-decoration: none;
    }

    #back {
        padding: 3px 0 0 0;
        height: 45px;
        width: 45px;
    }
}

/* Media query for micromax p290 Horizontal */
@media screen and (orientation:landscape) {
    h1 {
        font-size: 20px !important;
        font-weight: bold !important;
        text-align: center !important;
        background-color: var(--ion-color-success) !important;
        color: white !important;
        text-transform: uppercase !important;
        padding: 4px !important;
        margin: 0 !important;
    }

    #div-main {
        width: auto !important;
        height: auto !important;
        padding: 5px !important;
        text-align: center !important;
        overflow-y: hidden !important;
        overflow: hidden !important;
    }

    div p {
        font-size: 18px !important;
        width: auto !important;
        margin: 0 !important;
    }

    h3 {
        color: white !important;
        background-color: black !important;
        font-size: 19px !important;
        padding: 4px !important;
        text-transform: uppercase !important;
        text-decoration: none !important;

    }

    li {
        font-size: 18px !important;
        list-style-type: square !important;
    }

    ul {
        text-align: left !important;
    }

    #backheader {
        background-color: black !important;
        height: 50px !important;
    }

    #nm {
        padding: 10px !important;
        font-size: 25px !important;
        line-height: 0.8em !important;
        text-decoration: none !important;
    }

    #back {
        padding: 3px 0 0 0 !important;
        height: 45px !important;
        width: 45px !important;
    }
}